[package]
name = "open-feature-flagd"
version = "0.0.8"
edition = "2021"
rust-version = "1.85" # MSRV
description = "The official flagd provider for OpenFeature."
documentation = "https://docs.rs/open-feature-flagd"
readme = "README.md"
homepage = "https://openfeature.dev/"
repository = "https://github.com/open-feature/rust-sdk-contrib"
license = "Apache-2.0"

# This is needed to reduce package size
include = [
    "schemas/protobuf/flagd/evaluation/v1/evaluation.proto",
    "schemas/protobuf/flagd/sync/v1/sync.proto",
    "build.rs",
    "src/*",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tonic-build = "0.13"

[dev-dependencies]
cucumber = "0.21"
tokio-stream = "0.1"
futures-core = "0.3"
testcontainers = { version = "0.25.0", features = ["http_wait", "blocking"] }
wiremock = "0.6.3"
tempfile = "3.20.0"
serial_test = "3.2"
test-log = { version = "0.2", features = ["trace"] }

[dependencies]
open-feature = "0.2"
async-trait = "0.1"
tonic = { version = "0.13" }
prost = "0.13"
prost-types = "0.13"
tokio = { version = "1.45", features = ["full"] }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
lru = "0.16"
futures = "0.3"
reqwest = { version = "0.12", default-features = false, features = ["json", "stream", "rustls-tls"] }
tracing = "0.1"
anyhow = "1.0.98"
semver = "1.0.26"
murmurhash3 = "0.0.5"
tower = "0.5"
hyper-util = { version = "0.1", features = ["tokio"] }
thiserror = "2.0"
datalogic-rs = "3.0.24"
