name: Rust

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: Install protobuf compiler
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler

    - name: Install Rust
      run: rustup update --no-self-update stable && rustup default stable

    - name: Setup cache
      uses: Swatinem/rust-cache@v2

    - name: Run all workspace tests
      run:  cargo test --workspace --verbose

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Check formats
        run: cargo fmt --check

      - name: Setup cache
        uses: Swatinem/rust-cache@v2

      - name: Check code quality
        run: cargo clippy -- -D warnings